<!-- Line 28, 30, 38, 41, 44, 47, 101, 106, 109, 117,185  -->
<!-- https://cdn1.iconfinder.com/data/icons/web-and-mobile-ui-outline-icon-kit/512/UI_Icons_2-01-512.png -->
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="assets/img/favicon.ico">

<title>Blog Mining</title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="../static/css/styles.css" rel="stylesheet">

<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

</head>
<body style="color:rgba(0,0,0,0.44)">

<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="container">
	<!-- Begin Logo -->
	<a class="navbar-brand" href="{{ url_for('index') }}">
	<img style="padding-top:4px" height="40" width="30" src="../static/logo.png" alt="logo">
	</a>
	<!-- End Logo -->
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<!-- Begin Menu -->
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
			<a style="color:rgba(0,0,0,0.5)" class="nav-link" href="{{url_for('index')}}">Stories <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="{{url_for('categories',token=token) }}">Categories</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="{{ url_for('author')}}">Author</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="{{ url_for('login')}}"><img title="Admin Login" style="padding-top: 2px;padding-bottom:4.5px" height="21" width="16" src="../static/login.png" ></a>
			</li>
		</ul>
		<!-- End Menu -->
		<!-- Begin Search -->
		<form action="/search" method="POST" style="border:1px solid rgba(0,0,0,.1);border-radius:30px;" class="form-inline my-2 my-lg-0">
			<input style="padding-right:0px;margin:none;border:none" class="form-control mr-sm-2" name="search_content" type="text" placeholder="Search">
			<button style="background-color: white;border:none;padding-left:0px;margin:none;border-radius:30px" type="submit"><img height="25" width="25" src="../static/search.png"></button>
			<!--
			<span class="search-icon"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span> -->
		</form>
		<!-- End Search -->
	</div>
</div>
</nav>
<!-- End Nav
================================================== -->

<!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle">Blog Mining</h1>
		<p class="lead">
			<!-- Bootstrap theme, medium style, simply perfect for bloggers -->
			Techie Blog, expressing views, facilitates information architecture
		</p>
	</div>
<!-- End Site Title
================================================== -->

	<!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>All Stories</span></h2>
	</div>
	<div class="card-columns listfeaturedtag">

		<!-- begin post -->
		{% for item in all_stories %}
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="{{ url_for('post',token=item.id) }}">
						<div class="thumbnail" style="background-image:url(../static/{{item.photo}});">
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a style="color:rgba(0,0,0,0.44)" href="{{ url_for('post',token=item.id) }}">{{ item.title }}</a></h2>
						<h4 class="card-text">{{ item.content }}</h4>
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="{{ url_for('author') }}"><img class="author-thumb" src="../static/admin.jpeg" alt="Sal"></a>
								</span>
								<span class="author-meta">
								<span class="post-name"><a style="color:rgba(0,0,0,.44);" href="{{ url_for('author')}}">{{item.updated_by}}</a></span><br>
								<span style="color:rgba(0,0,0,.44);">{{item.num_views}}</span>
								<img style="padding-bottom: 3px;" height="20" width="15" src="../static/views.png">
								<br/>
								<span class="post-date">{{ item.updated_on}}</span>
								<span class="dot"></span>
								<span class="post-read">{{ item.num_min}} min read</span>
								</span>
								<span class="post-read-more"><a style="fill:rgba(0,0,0,0.44)" href="{{ url_for('post',token=item.id) }}" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<!-- end post -->

		
	</div>
	</section>
	<!-- End Featured
	================================================== -->

	<!-- Start Get Back Home
	================================================== -->

	<center><a style="color:rgba(0,0,0,.3);margin-bottom: none;" href="{{ url_for('index') }}">Get Back To Home</a></center>

	<!-- End Get Back Home
	================================================== -->

	<!-- Begin Footer
	================================================== -->
	<div class="footer">
		<p class="pull-left">
			 Copyright &copy; 2022 Blog Mining
		</p>
		<p class="pull-right">
			Get in touch via <a target="_blank" href="{{ url_for('author')}}">source</a>
		</p>
		<div class="clearfix">
		</div>
	</div>
	<!-- End Footer
	================================================== -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
